  .directChat-messages-input {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 122%
  }

  .directChat-page-main {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    height: 100%;
    justify-content: flex-end;
    width: 122%;
  }
