  .directChat-messages-input {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 110%
  }

  .directChat-page-main {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    height: 90%;
    justify-content: flex-end;
    width: 110%;
    margin-left: 10px;
  }
