.server-name-button {
    position: relative;
}

.dropdown-container {
    position: absolute;
    top: 3.5em;
    left: 1em;
    width: 240px;
    background-color: #18191C;
    border-radius: 4px;

}


/* EDIT SERVER MODAL */
.edit-server-modal-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-content: center;
    background-color: #36393F;
    border-radius: 10px;
}

.edit-server-modal-main-label {
    font-family: GintoNormalBold;
    font-size: 22px;
    padding: 18px 0 0 18px;
    color: white;
}

.edit-server-modal-server-label, .edit-server-modal-image-label {
    font-family: GintoNormal, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #B9BBBE;
    padding: 10px 0 8px 18px;
    box-sizing: border-box;
}

.edit-server-buttons-container {
    position: relative;
    background-color: #2f3136;
    width: 482px;
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 18px;
}

.edit-server-button {
    color: #919395;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    cursor: pointer;
}

.delete-server-button {
    color: #ED4245;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    cursor: pointer;
}

.edit-server-modal-server-name, .edit-server-modal-server-image {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: WhitneyMedium, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.edit-server-modal-input-server-name-outer, .edit-server-modal-input-server-image-outer {
    background-color: #202225;
    margin: 8px 0 18px 18px;
    border-radius: 3px;
    padding: 8px;
    width: 428px;
}

.edit-server-modal-input-server-name, .edit-server-modal-input-server-image {
    background: none;
    border: none;
    align-items: center;
    outline: none;
    font-size: 18px;
    color: #7c8085;
    font-family: WhitneyBook, Arial, Helvetica, sans-serif;
}



.edit-server-modal-cancel-button {
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    background-color: #2f3136;
    border: none;
    font-size: 15px;
    color: white;
    margin-right: 18px;
}

.edit-server-modal-submit-button {
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    background-color: #5865F2;
    border: none;
    color: white;
    width: 120px;
    height: 38px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 3px;
}

.edit-server-button:hover {
    background-color: #4752C4;
    color: white;
}

.delete-server-button:hover {
    color: white;
    background-color: #ED4245;
}

.edit-server-button,
.delete-server-button {
    display: flex;
    border-radius: 4px;
    padding: .4em;
    margin: .5em;
    justify-content: space-between;
    align-items: center;
}
