.server-name-button {
    position: relative;
}

.dropdown-container {
    position: absolute;
    top: 3.5em;
    left: 1em;
    width: 240px;
    background-color: #18191C;
    border-radius: 4px;

}

.edit-server-button {
    color: #919395;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    cursor: pointer;
}

.delete-server-button {
    color: #ED4245;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    cursor: pointer;
}

.edit-server-modal-container {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    background-color: white;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    border-radius: 4px;
}

.edit-server-modal-server-name, .edit-server-modal-server-image {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: WhitneyMedium, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.edit-server-button:hover {
    background-color: #4752C4;
    color: white;
}

.delete-server-button:hover {
    color: white;
    background-color: #ED4245;
}

.edit-server-button,
.delete-server-button {
    display: flex;
    border-radius: 4px;
    padding: .4em;
    margin: .5em;
    justify-content: space-between;
    align-items: center;
}
