@font-face {
  font-family: GintoNord;
  src: url('../fonts/Ginto/ABCGintoNord-Black-Trial.woff');
}

@font-face {
  font-family: GintoNormal;
  src: url('../fonts/Ginto/ABCGintoNormal-Regular-Trial.otf');
}

@font-face {
  font-family: GintoNormalBold;
  src: url('../fonts/Ginto/ABCGintoNormal-Bold-Trial.woff');
}

@font-face {
  font-family: WhitneyBook;
  src: url('../fonts/Whitney/whitney-book.otf');
}

@font-face {
  font-family: WhitneyBold;
  src: url('../fonts/Whitney/whitney-bold.otf');
}

@font-face {
  font-family: WhitneySemiBold;
  src: url('../fonts/Whitney/whitney-semibold.otf');
}

@font-face {
  font-family: WhitneyLight;
  src: url('../fonts/Whitney/whitney-light.otf');
}

@font-face {
  font-family: WhitneyMedium;
  src: url('../fonts/Whitney/whitney-medium.otf');
}
