/* ---------- NavBar ---------- */

.NavBar-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #404EED;
    height: 5em;
    padding-left: 25em;
    padding-right: 25em;
}

.login-button {
    padding: .5em 1em;
    background-color: white;
    border-radius: 1em;
    text-decoration: none;
    color: black;
}

.home-logo {
    height: 2em;
}



/* ---------- Background ---------- */

.HomePage-background-container {
    background-image: url('./images/svgexport-4.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #404EED;
    position: absolute;
    left: 0;
    right: 0;
    height: 35em;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    overflow: hidden;
}

.HomePage-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* ---------- Content ---------- */

.HomePage-text {
    display: flex;
    position: absolute;
    top: 1em;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    z-index: 3;
}

.space {
    max-width: 1000px;
    min-width: 620px;
    height: 100px;
    z-index: 1;
}

.HomePage-left-image {
    padding-top: 208px;
    z-index: 1;
}

.HomePage-right-image {
    padding-top: 200px;
    z-index: 1;
    margin-left: 350px;
}

.HomePage-text > h1 {
    font-size: 56px;
    margin: 0;
    padding-top: 3em;
    font-family: GintoNord;
}

.HomePage-text span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 780px;
    font-size: 18px;
    padding-top: 1.5em;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.HomePage-3rd-part {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    left: 0;
    right: 0;
}

.HomePage-4th-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePage-5th-part {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.HomePage-6th-part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
