.main-form-outer {
  background-image: url('../images/main_forms.svg');
  width: auto;
  height: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* .form-image {
  background: url('../Images/main_forms.svg');
  width: auto;
  height: auto;
  position: fixed;
} */

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  width: 450px;
  padding: 32px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  box-sizing: border-box;
  background: #36393f;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
