.NavBar-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #404EED;
    height: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.login-button {
    padding: .5em 1em;
    background-color: white;
    border-radius: 1em;
    text-decoration: none;
    color: black;
}
