.main-serverNav {
  display: flex;
  flex-direction: column;
  justify-content: flex start;
  align-items: center;
  background-color: #202225;
  padding: 10px 12px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden scroll;
}

.home-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30%;
}

.home-icon-outer {
  border-radius: 20%;
  height: 50px;
  width: 50px;
  margin: 5px 0;
}

.serverNav-all-servers-outer{
  margin-top: 8px;
  overflow: hidden auto;
  height: 350px;
}

.serverNav-all-servers-outer::-webkit-scrollbar {
  display: none;
}

.server-img {
  padding-top: 10px;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-position: 50% 50%;
}

.server-img-outer {
  background-color: #36393f;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.server-img:hover {
  object-fit: cover;
}

.server-img-outer:hover {
  border-radius: 30%;
}

.add-server-outer {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #36393f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  font-size: 20px;
  color: #1ab071;
  flex: none;
}

.add-server-img {
  color: #1ab071;
}

.add-server-outer:hover {
  background-color: #1ab071;
  color: white;
  border-radius: 30%;
}

.line-break {
  height: 5px;
  margin-top: 5px;
  border-top: 2px #36393F solid;
  color: #202225;
}

.server-form-first {
  width: 500px;
}
