.ServerPage-container {
    border: 1px solid red;
    width: 90vw;
    height: 100vh;
}

.ServerPage-content-container {
    display: flex;
    flex-direction: row;
}

.ServerPage-middle-container {
    display: flex;
    width: 800px;
}

.ServerPage-NavBar {
    border: 1px solid blue;
    height: 5em;
}

.server-channels {
    border: 1px solid blue;
    height: 5em;
}
