/* MAIN CONTAINER COMPONENTS */
.ServerPage-container {
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 70px;
}

.ServerPage-content-container {
    display: flex;
    flex-direction: row;
}


/* NAV BAR COMPONENTS*/
.ServerPage-NavBar {
    width: 100%;
    display: flex;
    background-color: #36393F;
    flex-direction: row;
    border: 1px solid #2C2F33;
    height: 3em;
    color: white;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.ServerPage-name:hover {
    background-color: #42464D;
}

.ServerPage-name {
    display: flex;
    width: 271px;
    background-color: #2F3136;

}

.server-name-button {
    width: 10%;
    height: 35%;
}


/* LEFT CONTAINER COMPONENTS*/
.ServerPage-left-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
    width: 240px;
    color: white;
    background-color: #2F3136;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.channels-header {
    width: 240px;
}


.server-channels {
    width: 100%;
    margin: 10px 0 8px 2px;
}

.server-channels:hover {
    background-color: #42464dab;
    border-radius: 3px;
    border: 1px solid aqua;
}

.ServerPage-left-container {
    /* display: flex; */
    /* flex-direction: row; */
    border: 1px solid red;
}

.channel-header {
    display: flex;
    width: 240px;
    color: #96989d;
}

.channel-header-left {
    display: flex;
}

.channel-down {
    padding-top: 5px;
    font-size: 11px;
}

.channel-title {
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 8px;
}

.channel-header-left:hover,
.add-channel-icon:hover {
    color: #DCDDDE;
}

.add-channel-icon {
    font-size: 15px;
}

.server-channels {
    display: flex;
    flex-direction: column;
}

.channel-section-header {
    display: flex;
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    color: #96989d;
    justify-content: space-between;
    font-size: 16px;
    height: 20px;
    padding: 5px 2px;
}

.channel-section-header:hover {
    color: #DCDDDE;
    background-color: #4f545c;
    border-radius: 3px;
}

.channel-section-left {
    display: flex;
}

.channel-hash-img {
    height: 19px;
    padding-right: 8px;
}

.edit-channel-button {
    padding-right: 8px;
}

.channel-edit-gear {
    height: 12px;
}

.channel-edit-gear-hidden {
    display: none;
}



/* MIDDLE CONTAINER COMPONENTS*/
.ServerPage-middle-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    background-color: #36393F;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.channel-chat {
    width: 100%;
}

/* RIGHT CONTAINER COMPONENTS*/
.ServerPage-right-container {
    width: 240px;
    background-color: #2F3136;
    color: white;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.server-users {
    width: 240px;
}
