/* html {
    background-color: #36393F;

}

body {
    max-width: 1080px;
    max-height: 1920px;
} */


/* MAIN CONTAINER COMPONENTS */
.ServerPage-container {
    /* border: 5px solid red; */
    /* width: 100vw;
    height: 100vh; */
    position: absolute;
    left: 74px;
    /* height: 95%; */
}

.ServerPage-content-container {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: row;
    /* overflow: hidden, scroll; */
    /* max-height: 100%; */
}


/* NAV BAR COMPONENTS*/
.ServerPage-NavBar {
    width: 100%;
    display: flex;
    background-color: #36393F;
    flex-direction: row;
    border: 1px solid #2C2F33;
    height: 3em;
    color: white;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.ServerPage-name:hover {
    background-color: #42464D;
}

.ServerPage-name {
    display: flex;
    justify-content: space-between;
    width: 271px;
    background-color: #2F3136;
    font-family: GintoNormal, Arial, Helvetica, sans-serif;
    padding: 15px;
    box-sizing: border-box;
}

.ServerPage-name:hover {
    cursor: pointer;
}

.server-name-button {
    width: 10%;
    height: 35%;
    background: none;
    border: none;
    color: white;
    margin-top: 3px;
}


/* LEFT CONTAINER COMPONENTS*/
.ServerPage-left-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 240px;
    color: white;
    background-color: #2F3136;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.channels-header {
    width: 240px;
}

.server-channels {
    width: 100%;
    margin: 10px 0 8px 2px;
}

.server-channels:hover {
    background-color: #42464dab;
    border-radius: 3px;
}

.channel-header {
    display: flex;
    width: 240px;
    color: #96989d;
}

.channel-header-left {
    display: flex;
}

.channel-down {
    padding-top: 5px;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
}

.channel-down.close {
    transform: rotate(-0.25turn);
}

.channel-title {
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 8px;
    padding-top: 2px;
}

.channel-header-left:hover,
.add-channel-icon:hover {
    color: #DCDDDE;
    cursor: pointer;
}

.add-channel-icon {
    font-size: 15px;
}

.server-channels {
    display: flex;
    flex-direction: column;
}

.channel-section-header {
    display: flex;
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    color: #96989d;
    justify-content: space-between;
    font-size: 16px;
    height: 20px;
    padding: 5px 2px;
}

.channel-section-header:hover {
    color: #DCDDDE;
    background-color: #4f545c;
    border-radius: 3px;
    cursor: pointer;
}

.channel-section-left {
    display: flex;
}

.channel-hash-img {
    height: 19px;
    padding-right: 8px;
}

.edit-channel-button {
    padding-right: 8px;
}

.channel-edit-gear {
    height: 12px;
}

.channel-edit-gear-hidden {
    display: none;
}


/* MIDDLE CONTAINER COMPONENTS*/
.ServerPage-middle-container {
    /* border: 5px solid red; */
    width: 100%;
    overflow: scroll;
    /* max-height: 100%; */
    display: flex;
    flex-direction: column-reverse;
    color: white;
    background-color: #36393F;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    overflow: auto;
    overflow-x: hidden;
}

.no-text-channel-middle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #b0b0b2;
    justify-content: center;
    align-items: center;
    background-color: #36393F;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.no-text-header {
    margin: 20px 0 0;
    font-family: WhitneyBold, Arial, Helvetica, sans-serif;
}

.no-text-caption {
    padding: 10px;
    width: 450px;
    text-align: center;
}

.channel-chat {
    border: 10px solid greenyellow;
    overflow: hidden scroll;
    width: 100%;
    font-size: 17px;
    padding-left: 8px;
    padding-top: 2px;
    /* max-height: 1000px; */
}


/* RIGHT CONTAINER COMPONENTS*/
.ServerPage-right-container {
    display: flex;
    flex-direction: column;
    /* max-height: 100%; */
    padding: 1rem 1rem 1rem 1rem;
    width: 25rem;
    background-color: #2F3136;
    color: white;
    font-family: WhitneyLight, 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    overflow: hidden scroll;
}

.server-user {
    display: flex;
    position: relative;
    width: 100vw;
    font-family: WhitneyMedium, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 8px;
    padding-top: 2px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* max-height: 1000px;
    overflow: hidden scroll; */
}
 .user-profile-pic {
    height: 38px;
    width: auto;
    border-radius: 30px;
 }
 .username {
    font-size: 15px;
    padding: 0px 0px 0px 15px;
 }
