.inner-form {
  width: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.server-form-header {
  font-family: GintoNormalBold;
  font-size: 22px;
  padding-top: 18px;
}

.server-form-caption {
  font-family: WhitneyBook;
  color: #4f5660;
  font-size: 16px;
  padding: 10px 20px 20px;
  text-align: center;
}

.create-own-button {
  font-family: GintoNormalBold;
  font-size: 16px;
  background-color: white;
  border: 1px #80808075 solid;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 9px 10px 6px;
  display: flex;
  align-items: center;
  width: 380px;
}

.create-own-button {
  cursor: pointer;
}

.create-text {
  margin: 0 180px 0 8px;
  padding-bottom: 7px;
}

.fa-angle-right {
  margin-right: 10px;
  padding-bottom: 5px;
  color: #36393f;
}

.server-form-label {
  font-family: GintoNormalBold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 8px 0;
  box-sizing: border-box;
  color: #4f5660;
}

.server-form-input {
  font-family: WhitneyBook, Arial, Helvetica, sans-serif;
  width: 400px;
  height: 38px;
  border-radius: 3px;
  border: none;
  background-color: #E3E5E8;
  font-size: 16px;
  color: #2e3338;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
}

.bottom-form-section {
  background-color: #E3E5E8;
  width: 442px;
  height: 70px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.back-button {
  font-family: WhitneyBook, Arial, Helvetica, sans-serif;
  background-color: #E3E5E8;
  border: none;
  font-size: 14px;
}

.back-button:hover {
  cursor: pointer;
}

.create-server-button {
  font-family: WhitneyBook, Arial, Helvetica, sans-serif;
  background-color: #5865F2;
  border: none;
  color: #ffffff;
  width: 86px;
  height: 28px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 3px;
  margin-left: 200px;
}

.create-server-button:hover {
  background-color: #4752c4;
}

.close-modal {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  right: 16px;
  top: 14px;
  color: #C9CDD2;
  font-weight: bold;
}

.fa-thin {
  font-size: larger;
}

.fa-thin:hover {
  cursor: pointer;
  color: black;
}
