.main-form-outer {
  background-color: #5865F2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.form-image {
  background: url('../Images/main_forms.svg');
  background-repeat: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.outer-form {
  background: #36393f;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 479px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
