.main-form-outer {
  background-image: url('../Images/main_forms.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 2
}

.outer-form {
  background: #36393f;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
