.current-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 236px;
  /* position: absolute; */
}

.user-pfp-outer {
  display: flex;
  align-items: center;
}

.current-user-profile-pic {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  padding-left: 15px;
}

.username-outer {
  display: flex;
  padding: 0 12px;
}

.logout-icon {
  font-size: 15px;
}

.logout-button-outer {
  display: flex;
}

.logout-icon:hover {
  color: #DCDDDE;
  cursor: pointer;
}
