.current-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-pfp-outer {
  display: flex;
  align-items: center;
}

.profile-pic-container {
  height: 38px;
  width: 38px;
  padding-left: 15px;
}

.current-user-profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.username-outer {
  display: flex;
  padding: 0 12px;
}

.logout-icon {
  font-size: 15px;
  margin-right: 15px;
}

.logout-icon:hover {
  color: #DCDDDE;
  cursor: pointer;
}
