/* TODO Add site wide styles */

.one-above-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#root {
    width: 1600px;
}
